<nb-layout>
  <nb-layout-column>

    <nb-grid>

      <nb-card nbWidget height="2" width="4">
        <nb-card-header nb-drag-handle>HI</nb-card-header>
      </nb-card>

      <nb-card nbWidget height="1" width="2">
        <nb-card-header nb-drag-handle>HI</nb-card-header>
      </nb-card>

      <nb-card nbWidget height="3" width="3">
        <nb-card-header nb-drag-handle>HI</nb-card-header>
      </nb-card>

      <nb-card nbWidget height="3" width="1">
        <nb-card-header nb-drag-handle>HI</nb-card-header>
      </nb-card>

      <nb-card nbWidget height="3" width="1">
        <nb-card-header nb-drag-handle>HI</nb-card-header>
      </nb-card>

    </nb-grid>

  </nb-layout-column>
</nb-layout>
